<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find sentry_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find sentry_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find sentry_navigation)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find sentry_navigation)/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find sentry_navigation)/params/move_base_params.yaml" command="load" />
        <rosparam file="$(find sentry_navigation)/params/recovery_behaviors.yaml" command="load" />
        <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner" /> -->
        <rosparam file="$(find sentry_navigation)/params/global_planner_params.yaml" command="load" />
        <!-- <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" /> -->
        <!-- <rosparam file="$(find sentry_navigation)/params/eband_local_planner_params.yaml" command="load" /> -->
    </node>

</launch>